<section>
  <h2>Liste des utilisateurs</h2>
  <table *ngIf="adminService.usersList.length > 0">
    <thead>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>statut</th>
      <th>Action</th>
    </thead>

    <tbody>
      <ng-container *ngFor="let u of adminService.usersList">
        <tr *ngIf="u.id !== auth.user.uid">
          <td>{{ u.nom | uppercase }}</td>
          <td>{{ u.prenom }}</td>
          <td>{{ u.email }}</td>
          <td><span>{{ u.statut }}</span></td>
          <td>
            <button (click)="deleteUser(u.id)" *ngIf="u.id">
              <i class="fas fa-solid fa-trash"></i> Supprimer
            </button>
            <button (click)="editUser(u.id)" *ngIf="u.id">
              <i class="fas fa-edit"></i> Edit
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
