<section *ngIf="!loader">
  <aside>
    <div>
      <h2>Détails de l'événement</h2>
      <h2>{{ event.titre }}</h2>
      <blockquote>{{ event.infos }}</blockquote>
      <p>Places : {{event.places}}</p>
      <p>Date : {{event.date | date:'M/d/yy'	}}</p>
      <p>Début : {{event.horaires.debut}}</p>
      <p>Fin : {{event.horaires.fin}}</p>
      <button (click)="inscription()" *ngIf="!isInscrit && auth.isLoggedIn && event.places > countInscrits">Réserver ma place</button>
      <p *ngIf="isInscrit && auth.isLoggedIn">Déjà Inscrit :
        <button (click)="desincrire()">Se désincrire</button>
      </p>
      <p *ngIf="!auth.isLoggedIn">
        il faut être connecté pour s'inscrire à un évênement et pour pouvoir discuter avec les autres dans le chat de l'événement
      </p>
    </div>
    <img [src]="event.media.src" [alt]="event.media.alt" *ngIf="event.media && event.media.src != ''">
  </aside>
  <app-real-time-chat [eventId]="param" *ngIf="auth.isLoggedIn"></app-real-time-chat>
</section>
