<section>
  <section class="rgpd">
    <h1>RGPD</h1>
    <p>Le RGPD (Règlement Général sur la Protection des Données) est un règlement européen qui est entré en vigueur le 25 mai 2018. Il a pour objectif de renforcer la protection des données personnelles des citoyens européens.</p>
  </section>

  <section class="mentions">
    <h1>Mentions légales</h1>
    <p>Cette application est une application de démonstration. Elle a été réalisée dans le cadre de TP pour la matière Cloud Front pour le Master 2 ICC à CY-Tech</p>
  </section>
</section>
